.about-company-section {
  padding: 92px 0;
  background: #F8FAFF;

  .section-content-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;

    .about-company-text {
      width: 33.38%;
      padding-left: 72px;

      &::before {
        @extend %title-section-border;
        background-color: $secondary-color;
        margin-bottom: 38px;
        margin-left: 0;
      }

      &__section-title {
        @include font(20px, 500, 23px);
        color: $third-color;
        margin-bottom: 38px;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      &__name-company {
        @include font(24px, 700, 28px);
        color: #5F5F5F;
        margin-bottom: 62px;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      &__company-info {
        @include font(14px, 400, 16px);
        color: $third-color;
      }
    }

    .about-company-video {
      width: 54.38%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .about-company-section {
    padding-bottom: 102px;

    .section-content-wrapper {
      .about-company-text {
        width: 100%;
        margin-bottom: 70px;
        padding-left: 0;
      }

      .about-company-video {
        width: 100%;
        height: 554px;
      }
    }
  }
}

@media (max-width: 767px) {
  .about-company-section {
    padding-top: 50px;
    padding-bottom: 68px;

    .section-content-wrapper {
      .about-company-text {
        margin-bottom: 22px;
      }

      .about-company-video {
        height: 230px;
      }
    }
  }
}