.cycle-section {
  padding: 68px 0 120px;
  background: linear-gradient(0deg, rgba(4, 4, 4, 0.6), rgba(4, 4, 4, 0.6)), url("../images/bg-images/section-cycle/desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .cycle-title {
    color: $first-color;
    margin-bottom: 194px;
  }

  .cycle-text {
    text-align: center;
    @include font(20px, 500, 23px);
    color: $first-color;
    margin-bottom: 112px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .btn-registration {
    transition-property:
      background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    &:hover {
      transition-property:
      background-color;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      background-color: #2367f0;
    }
  }
}

@media (max-width: 1199px) {
  .cycle-section {
    background: linear-gradient(0deg, rgba(4, 4, 4, 0.6), rgba(4, 4, 4, 0.6)), url("../images/bg-images/section-cycle/tablet-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .cycle-section {
    padding-top: 238px;
    position: relative;
    margin-top: 166px;
    background: linear-gradient(0deg, rgba(4, 4, 4, 0.6), rgba(4, 4, 4, 0.6)), url("../images/bg-images/section-cycle/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .cycle-title-wrapper {
      position: absolute;
      top: -118px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        background-color: #666666;
        margin-bottom: 42px;
     }
    }

    .cycle-title {
      color: #666666;
      margin-bottom: 0;
    }

    .cycle-text {
      margin-bottom: 204px;
    }
  }
}