.feedback-section {
  background: linear-gradient(0deg, rgba(248, 250, 255, 0.9), rgba(248, 250, 255, 0.9)), url("../images/bg-images/feedback-section/desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 94px 0 100px;

  .feedback-title {
    color: #727272;
    margin-bottom: 36px;
  }

  .feedback-form {
    width: 45.23%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    &__input {
      width: 100%;
      padding: 20px 32px;
      @include font(20px, 400, 23px);
      background: transparent;
      border: 1px solid #727272;
      outline: none;
      margin-bottom: 22px;

      &::placeholder {
        color: #A5A5A5;
      }

      &--visibility {
        display: none;
      }
    }

    #feedback-message {
      resize: none;
      margin-bottom: 30px;
    }

    .info-of-privacy-policy--styles {
      @include font(12px, 400, 14px);
      color: #727272;
      padding: 0 40px;

      &:first-letter {
        text-transform: uppercase;
      }

      .info-of-privacy-policy__link--styles {
        text-transform: capitalize;
        text-decoration: underline;
        color: #727272;
      }
    }

    &__button {
      background: $secondary-color;
      color: $first-color;
      border: none;
      cursor: pointer;
      @include font(16px, 700, 19px);
      padding: 20px 38px;
      margin-top: 30px;
      transition-property:
      background-color;
      transition-duration: 0.2s;
      transition-timing-function: linear;

      &:first-letter {
        text-transform: uppercase;
      }

      &:hover {
        transition-property:
        background-color;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        background-color: #2367f0;
      }
    }
  }
}

@media (max-width: 1199px) {
  .feedback-section {
    background: linear-gradient(0deg, rgba(248, 250, 255, 0.9), rgba(248, 250, 255, 0.9)), url("../images/bg-images/feedback-section/tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 36px;

    .feedback-form {
      width: 66.1%;
      
      &__input--visibility {
        display: block;
        margin-left: 4%;
      }

      &__input--width {
        width: 48%;
      }
    }
  }
}

@media (max-width: 767px) {
  .feedback-section {
    background: linear-gradient(0deg, rgba(248, 250, 255, 0.9), rgba(248, 250, 255, 0.9)), url("../images/bg-images/feedback-section/mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 32px;

    .feedback-title {
      margin-bottom: 72px;
    }

    .feedback-form {
      width: 100%;
      padding-left: 22px;
      padding-right: 22px;

      &__input {
        background: $first-color;
        margin-bottom: 12px;
        border-color: #E8E8E8;

        &::placeholder {
          color: #B3B2B2;
        }

        &--visibility {
          margin-left: 0;
        }

        &--width {
          width: 100%;
        }
      }

      #feedback-message {
        margin-bottom: 306x;
      }

      .info-of-privacy-policy--styles {
        font-size: 10px;
        line-height: 12px;
        padding: 0;
      }

      &__button {
        margin-top: 34px;
      }
    }
  }
}