.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  background: #5773AB;

  .footer-menu-list,
  .footer-info-list {
    justify-content: space-between;
    color: $first-color;

    &__item:first-letter,
    &__sublist-item:first-letter {
      text-transform: uppercase;
    }

    &__sublist-item-email:first-letter {
      text-transform: lowercase;
    }
    
    &__item-link,
    &__sublist-item-link {
      span.upper {
        text-transform: uppercase;
      }

      color: $first-color;

      &:hover {
        text-decoration: underline;
      }
    }

    &__item-link:first-letter {
      text-transform: uppercase;
    }
 }

  .footer-menu-list {
    flex-wrap: wrap;

    &__item--upper {
      text-transform: uppercase;
    }

    &__item-link--weight {
      @include font(24px, 500, 28px);
    }

    &__item-company-name {
      font-weight: 700;
    }

    &__sublist-item {
      @include font(14px, 400, 16px);

      &:not(:nth-child(-n+2)) {
        margin-top: 20px;
      }
    }

    &__sublist-item--indent {
      margin-bottom: 34px;
    }

    &__sublist-item--visibility {
      display: none;
    }
  }

  .footer-info-list {
    align-items: center;
    border-top: 2px solid $first-color;
    padding-top: 4px;
    margin-top: 60px;

    &__item {
      @include font(10px, 500, 12px);
    }
  }
}

@media (max-width: 1199px) {
  .footer {
    padding-top: 20px;

    .footer-menu-list {
      &__item:not(:nth-child(-n+1)) {
        width: 33%;
      }

      &__item:nth-child(3) {
        text-align: center;
      }

      &__item:nth-last-child(1) {
        display: flex;
        justify-content: end;
      }

      &__item-company-name {
        width: 100%;
        text-align: center;
        margin-bottom: 54px;
      }

      &__sublist-item--indent {
        margin-bottom: 20px;
      }

      &__item:not(:nth-child(-n+1)) {
        .footer-menu-list__item-link--weight {
          font-size: 20px;
          line-height: 23px;
        }
      }

      &__sublist-item--mobile-hidden {
        display: none;
      }

      &__sublist-item--visibility {
        display: block;

        span {
          display: block;
        }
      }
    }

    .footer-info-list {
      margin-top: 20px;

      .footer-logo {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    .footer-menu-list {
      &__item-company-name {
        border-bottom: 1px solid;
        padding-bottom: 20px;
        margin-bottom: 26px;
      }

      &__item:not(:nth-child(-n+1)) {
        .footer-menu-list__item-link--weight {
          font-size: 24px;
          line-height: 28px;
        }
      }

      &__item:not(:nth-child(3n+1)) {
         display: none;
       }

      &__item:not(:nth-child(-n+1)) {
        width: 100%;
      }

      &__item:nth-last-child(1) {
        justify-content: center;
        text-align: center;
      }

      &__sublist-item {
        font-size: 20px;
        line-height: 23px;
      }
    }

    .footer-info-list {
      margin-top: 46px;
      padding-top: 38px;
      padding-bottom: 20px;
      border-width: 1px;
      flex-wrap: wrap;

      &__item {
        width: 100%;
        text-align: center;
      }

      &__item + .footer-info-list__item {
        margin-top: 20px;
      }
    }
  }
}