$first-color: #fff;
$secondary-color: #789CE3;
$title-section-font: 500 30px "Roboto", sans-serif;

// $nav-main-subtitles-footer-font: 400 14px/1.2 "Montserrat", sans-serif;
// $section-title-first-row-font: 400 24px/1.2 "Kaushan Script", sans-serif;
// $section-title-second-row-font: 700 30px/1.2 "Montserrat", sans-serif;
// $decorationline-hover-social-icons-bg-color: #f38181;
// $nav-hero-icon-hover-color: #fff;
// $nav-btn-hoverphoto-color: #95e1d3;
// $titles-subtaitles-footercopyright-color: #333;
// $sections-text-color: #999;
// $hover-nav-link-social-icons-bg-color: #fce38a;
