%title-section-border {
  content: " ";
  display: block;
  width: 97px;
  height: 3px;
  margin: 0 auto;
  border-radius: 2px;
}

%text-section-description {
  @include font(20px, 500, 23px);
  color: #B3B2B2;

  &:first-letter {
    text-transform: uppercase;
  }
}