%title-section-border {
  content: " ";
  display: block;
  width: 97px;
  height: 3px;
  margin: 0 auto;
  border-radius: 2px;
}

%section-description-style {
  @include font(20px, 500, 23px);
  color: $third-color;
  max-width: 530px;
  margin: 0 auto;

  &:first-letter {
    text-transform: uppercase;
  }
}